@font-face {
  font-family: 'mbhSmiley';
  src:  url('.../fonts/smiley/1.0/mbhSmiley.eot?pib9e6');
  src:  url('.../fonts/smiley/1.0/mbhSmiley.eot?pib9e6#iefix') format('embedded-opentype'),
    url('.../fonts/smiley/1.0/mbhSmiley.ttf?pib9e6') format('truetype'),
    url('.../fonts/smiley/1.0/mbhSmiley.woff?pib9e6') format('woff'),
    url('.../fonts/smiley/1.0/mbhSmiley.svg?pib9e6#mbhSmiley') format('svg');
  font-weight: normal;
  font-style: normal;
}
html:hover [class^="mbhSmiley"]{-ms-zoom:1;}
.mbhSmiley {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mbhSmiley' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mbhSmiley-love:before {
  content: "\e900";
}
.mbhSmiley-happy:before {
  content: "\e901";
}
.mbhSmiley-smile:before {
  content: "\e902";
}
.mbhSmiley-tongue:before {
  content: "\e903";
}
.mbhSmiley-sad:before {
  content: "\e904";
}
.mbhSmiley-wink:before {
  content: "\e905";
}
.mbhSmiley-grin:before {
  content: "\e906";
}
.mbhSmiley-cool:before {
  content: "\e907";
}
.mbhSmiley-angry:before {
  content: "\e908";
}
.mbhSmiley-evil:before {
  content: "\e909";
}
.mbhSmiley-shocked:before {
  content: "\e90a";
}
.mbhSmiley-baffled:before {
  content: "\e90b";
}
.mbhSmiley-confused:before {
  content: "\e90c";
}
.mbhSmiley-neutral:before {
  content: "\e90d";
}
.mbhSmiley-wondering:before {
  content: "\e90e";
}
.mbhSmiley-sleepy:before {
  content: "\e90f";
}
.mbhSmiley-frustrated:before {
  content: "\e910";
}
.mbhSmiley-crying:before {
  content: "\e911";
}

